.region-row {
  cursor: pointer;
  --region-border-width: 5px;
  --depth-padding-step: 1rem;
  --transtition-time: 0.5s;

  &.depth-0 {
    --depth: 0;
    font-weight: bolder;
  }

  &.depth-1 {
    --depth: 1;
    font-weight: bold;
  }

  &.depth-2 {
    --depth: 2;
  }

  &.depth-3 {
    --depth: 3;
  }

  --depth-padding-left:~"calc(max(var(--depth) - 1, 0) * var(--depth-padding-step))";
  --prev-depth-padding-left:~"calc(max(var(--depth-padding-left) - var(--depth-padding-step), 0rem))";

  .region-name {
    padding: 0 0 0 var(--depth-padding-left);
    transition: padding-left var(--transtition-time);

    div {
      border-left: var(--region-border-width) solid var(--region-color);
      padding: 0.25rem 0 0.25rem 0.5rem;
      transition: border-left-width var(--transtition-time);
    }
  }

  &:hover {
    .region-name {
      padding-left: var(--prev-depth-padding-left);

      div {
        border-left-width: calc((var(--depth-padding-left) - var(--prev-depth-padding-left)) + var(--region-border-width));
        background: var(--hover-color);
      }
    }

    .region-proportion {
      background: var(--hover-color);
    }
  }

  .region-proportion {
    width: fit-content;
  }

  &.depth-1:has(+ .depth-2),
  &.depth-2:has(+ .depth-3) {
    .region-name div {
      position: relative;

      &::after {
        content: '';
        width: calc(1rem + var(--region-border-width));
        height: 2px;
        background: var(--region-color);
        position: absolute;
        bottom: 0;
        left: calc(-1 * var(--region-border-width));
      }
    }
  }
}