@import "../../styles/constants.less";

.main-panel {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: auto;
    overflow: hidden;

    &.initial-panel,
    &.error-panel {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .file-selector {
            flex-basis: 40%;
        }

        .sample-data {
            flex-basis: 15%;
            max-height: 120px;
        }
    }

    & > section {
        min-width: 0;
        min-height: 0;
        overflow-y: auto;
    }

    @media @mobile {
        flex-direction: column;

        & > section {
            padding-top: 0;

            &:not(.panel-hidden) {
                flex: 1 1 auto;
                min-height: 0;
                overflow-y: auto;
            }

            &.panel-hidden {
                display: none;
            }
        }
    }
}