.v7_0 {
  .world {
    --region-color: transparent;
  }

  .sub-saharan_african {
    --region-color: #B580FF;
  }

  .west_african {
    --region-color: #6743AD;
  }

  .senegambian_guinean {
    --region-color: #6423E6;
  }

  .ghanaian_liberian_sierra_leonean {
    --region-color: #7948DA;
  }

  .nigerian {
    --region-color: #8653ED;
  }

  .broadly_west_african {
    --region-color: #6743AD;
  }

  .northern_east_african {
    --region-color: #7044AE;
  }

  .sudanese {
    --region-color: #7422E5;
  }

  .ethiopian_eritrean {
    --region-color: #9F6FE3;
  }

  .somali {
    --region-color: #875AC7;
  }

  .broadly_northern_east_african {
    --region-color: #7044AE;
  }

  .congolese_southern_east_african {
    --region-color: #7944AE;
  }

  .angolan_congolese {
    --region-color: #8422E5;
  }

  .southern_east_african {
    --region-color: #A053ED;
  }

  .broadly_congolese_southern_east_african {
    --region-color: #7944AE;
  }

  .african_hunter-gatherer {
    --region-color: #8A44AF;
  }

  .broadly_sub-saharan_african {
    --region-color: #D3B2FF;
  }

  .east_asian {
    --region-color: #FFBF80;
  }

  .japanese {
    --region-color: #ED5372;
  }

  .korean {
    --region-color: #E51B1D;
  }

  .chinese {
    --region-color: #AD4E44;
  }

  .northern_chinese_tibetan {
    --region-color: #E52F1B;
  }

  .southern_chinese_taiwanese {
    --region-color: #ED6253;
  }

  .southern_coastal_chinese {
    --region-color: #DB4433;
  }

  .broadly_chinese {
    --region-color: #AD4E44;
  }

  .chinese_dai {
    --region-color: #DB6938;
  }

  .vietnamese {
    --region-color: #DB7C38;
  }

  .filipino_austronesian {
    --region-color: #E5881C;
  }

  .indonesian_thai_khmer_myanma {
    --region-color: #E6A71C;
  }

  .northern_asian {
    --region-color: #AD5944;
  }

  .manchurian_mongolian {
    --region-color: #DD5735;
  }

  .siberian {
    --region-color: #ED7253;
  }

  .broadly_northern_asian {
    --region-color: #AD5944;
  }

  .broadly_east_asian {
    --region-color: #FFD9B2;
  }

  .indigenous_american {
    --region-color: #FF80EC;
  }

  .arctic_north_american {
    --region-color: #B43BD9;
  }

  .western_north_american {
    --region-color: #DB357A;
  }

  .north_american {
    --region-color: #ED53AA;
  }

  .southern_mesoamerican {
    --region-color: #E51BB9;
  }

  .central_andean_amazonian {
    --region-color: #ED53EB;
  }

  .northern_andean {
    --region-color: #C73CD9;
  }

  .broadly_indigenous_american {
    --region-color: #FFB2F3;
  }

  .melanesian {
    --region-color: #FFDF6B;
  }

  .broadly_melanesian {
    --region-color: #FFDF6B;
  }

  .central_south_asian {
    --region-color: #9CFF6B;
  }

  .central_asian {
    --region-color: #E5DC1C;
  }

  .northern_indian_pakistani {
    --region-color: #BDE51B;
  }

  .bengali_northeast_indian {
    --region-color: #A3ED53;
  }

  .gujarati_patidar {
    --region-color: #4CE51C;
  }

  .southern_indian_subgroup {
    --region-color: #39C44C;
  }

  .southern_indian_sri_lankan {
    --region-color: #3ED888;
  }

  .malayali_subgroup {
    --region-color: #53ED9E;
  }

  .broadly_central_south_asian {
    --region-color: #C2FFA3;
  }

  .western_asian_north_african {
    --region-color: #9580FF;
  }

  .northern_west_asian {
    --region-color: #4C43AD;
  }

  .cypriot {
    --region-color: #3322E5;
  }

  .anatolian {
    --region-color: #5448D9;
  }

  .iranian_caucasian_mesopotamian {
    --region-color: #5F52EC;
  }

  .broadly_northern_west_asian {
    --region-color: #4C43AD;
  }

  .arab_egyptian_levantine {
    --region-color: #5543AD;
  }

  .peninsular_arab {
    --region-color: #4422E5;
  }

  .levantine {
    --region-color: #6048D9;
  }

  .egyptian_southern_levantine {
    --region-color: #6D53ED;
  }

  .coptic_egyptian {
    --region-color: #826FE3;
  }

  .broadly_arab_egyptian_levantine {
    --region-color: #5543AD;
  }

  .north_african {
    --region-color: #5E39C4;
  }

  .broadly_western_asian_north_african {
    --region-color: #C0B2FF;
  }

  .european {
    --region-color: #80C3FF;
  }

  .british_irish {
    --region-color: #4482AD;
  }

  .irish {
    --region-color: #6FB3E3;
  }

  .scottish {
    --region-color: #53ADED;
  }

  .english {
    --region-color: #2294E5;
  }

  .welsh {
    --region-color: #3697DC;
  }

  .broadly_british_irish {
    --region-color: #4482AD;
  }

  .western_european {
    --region-color: #4371AD;
  }

  .dutch_northern_german {
    --region-color: #5394ED;
  }

  .belgian_rhinelander_southern_dutch {
    --region-color: #3975C4;
  }

  .french {
    --region-color: #2275E5;
  }

  .swiss_southwestern_german_western_austrian {
    --region-color: #377CD8;
  }

  .austrian_southern_german {
    --region-color: #6FA1E3;
  }

  .broadly_western_european {
    --region-color: #4371AD;
  }

  .nordic {
    --region-color: #44ADAD;
  }

  .norwegian {
    --region-color: #53ECED;
  }

  .swedish {
    --region-color: #3EDCDC;
  }

  .danish {
    --region-color: #6FE3E3;
  }

  .finnish {
    --region-color: #39C3C4;
  }

  .icelandic {
    --region-color: #22E3E5;
  }

  .broadly_nordic {
    --region-color: #44ADAD;
  }

  .spanish_portuguese {
    --region-color: #4352AB;
  }

  .portuguese_galician {
    --region-color: #5A6BC7;
  }

  .aragonese_catalan {
    --region-color: #223BE5;
  }

  .basque {
    --region-color: #485DD9;
  }

  .canary_islander {
    --region-color: #394FC4;
  }

  .andalusian_asturian_castilian {
    --region-color: #6F82E3;
  }

  .broadly_spanish_portuguese {
    --region-color: #4352AB;
  }

  .italian_maltese {
    --region-color: #4364AD;
  }

  .northern_italian {
    --region-color: #225AE5;
  }

  .southern_italian {
    --region-color: #3365DA;
  }

  .sardinian {
    --region-color: #5382ED;
  }

  .maltese {
    --region-color: #6F92E3;
  }

  .broadly_italian_maltese {
    --region-color: #4364AD;
  }

  .greek_balkan {
    --region-color: #4447AD;
  }

  .bosnian_croatian_montenegrin_serbian {
    --region-color: #2229E5;
  }

  .kosovar_northern_albanian {
    --region-color: #5359ED;
  }

  .albanian_macedonian {
    --region-color: #5A5CC7;
  }

  .greek {
    --region-color: #474CD8;
  }

  .bulgarian_moldovan_romanian {
    --region-color: #6F72E3;
  }

  .broadly_greek_balkan {
    --region-color: #4447AD;
  }

  .central_eastern_european {
    --region-color: #44AD95;
  }

  .estonian {
    --region-color: #5AC7C6;
  }

  .latvian {
    --region-color: #39C4A3;
  }

  .lithuanian {
    --region-color: #59C6AE;
  }

  .slovenian {
    --region-color: #6FE3C9;
  }

  .czech_hungarian_slovak_southern_polish {
    --region-color: #53EDC9;
  }

  .belarusian_polish_ukrainian {
    --region-color: #3DDEB8;
  }

  .russian {
    --region-color: #22E5BA;
  }

  .broadly_central_eastern_european {
    --region-color: #44AD95;
  }

  .ashkenazi_jewish {
    --region-color: #22BFE5;
  }

  .broadly_european {
    --region-color: #B3DBFF;
  }

  .unassigned {
    --region-color: #DBDAD3;
  }
}