.v5_2,
.v5_9 {
  .world {
    --region-color: transparent;
  }

  .sub-saharan_african {
    --region-color: #800E65;
  }

  .west_african {
    --region-color: #C20064;
  }

  .senegambian_guinean {
    --region-color: #82003D;
  }

  .ghanaian_liberian_sierra_leonean {
    --region-color: #DD0077;
  }

  .nigerian {
    --region-color: #9E0954;
  }

  .broadly_west_african {
    --region-color: #C20064;
  }

  .northern_east_african {
    --region-color: #40014B;
  }

  .sudanese {
    --region-color: #9210A1;
  }

  .ethiopian_eritrean {
    --region-color: #7A0087;
  }

  .somali {
    --region-color: #550066;
  }

  .broadly_northern_east_african {
    --region-color: #40014B;
  }

  .congolese_southern_east_african {
    --region-color: #B9018F;
  }

  .angolan_congolese {
    --region-color: #A1007B;
  }

  .southern_east_african {
    --region-color: #5E0048;
  }

  .broadly_congolese_southern_east_african {
    --region-color: #B9018F;
  }

  .african_hunter-gatherer {
    --region-color: #750C42;
  }

  .broadly_sub-saharan_african {
    --region-color: #800E65;
  }

  .east_asian_indigenous_american {
    --region-color: #D12F11;
  }

  .northern_asian {
    --region-color: #FF8361;
  }

  .siberian {
    --region-color: #FF6E5C;
  }

  .manchurian_mongolian {
    --region-color: #E7240C;
  }

  .broadly_northern_asian {
    --region-color: #FF8361;
  }

  .indigenous_american {
    --region-color: #FADA6D;
  }

  .chinese_southeast_asian {
    --region-color: #EE7D52;
  }

  .vietnamese {
    --region-color: #FF9D1C;
  }

  .filipino_austronesian {
    --region-color: #FBCD1E;
  }

  .indonesian_thai_khmer_myanma {
    --region-color: #FFBA32;
  }

  .chinese {
    --region-color: #CF2808;
  }

  .chinese_dai {
    --region-color: #FFAB7A;
  }

  .broadly_chinese_southeast_asian {
    --region-color: #EE7D52;
  }

  .japanese_korean {
    --region-color: #8E0701;
  }

  .japanese {
    --region-color: #6E0102;
  }

  .korean {
    --region-color: #AD0D00;
  }

  .broadly_japanese_korean {
    --region-color: #8E0701;
  }

  .broadly_east_asian_indigenous_american {
    --region-color: #D12F11;
  }

  .european {
    --region-color: #005B98;
  }

  .northwestern_european {
    --region-color: #53C8ED;
  }

  .british_irish {
    --region-color: #21C7FF;
  }

  .finnish {
    --region-color: #005A6A;
  }

  .french_german {
    --region-color: #00B4ED;
  }

  .scandinavian {
    --region-color: #03749D;
  }

  .broadly_northwestern_european {
    --region-color: #53C8ED;
  }

  .southern_european {
    --region-color: #1876D2;
  }

  .greek_balkan {
    --region-color: #0048A1;
  }

  .spanish_portuguese {
    --region-color: #73BAFF;
  }

  .italian {
    --region-color: #1867B0;
  }

  .sardinian {
    --region-color: #0D3871;
  }

  .broadly_southern_european {
    --region-color: #1876D2;
  }

  .eastern_european {
    --region-color: #00B5B5;
  }

  .ashkenazi_jewish {
    --region-color: #0C8080;
  }

  .broadly_european {
    --region-color: #005B98;
  }

  .western_asian_north_african {
    --region-color: #420B96;
  }

  .northern_west_asian {
    --region-color: #5340BF;
  }

  .cypriot {
    --region-color: #A08FFF;
  }

  .anatolian {
    --region-color: #684BC9;
  }

  .iranian_caucasian_mesopotamian {
    --region-color: #4A2DAC;
  }

  .broadly_northern_west_asian {
    --region-color: #5340BF;
  }

  .arab_egyptian_levantine {
    --region-color: #7E24DF;
  }

  .peninsular_arab {
    --region-color: #310773;
  }

  .levantine {
    --region-color: #4B1497;
  }

  .egyptian {
    --region-color: #813BCC;
  }

  .coptic_egyptian {
    --region-color: #A08FFF;
  }

  .broadly_arab_egyptian_levantine {
    --region-color: #7E24DF;
  }

  .north_african {
    --region-color: #6f3598;
  }

  .broadly_western_asian_north_african {
    --region-color: #420B96;
  }

  .central_south_asian {
    --region-color: #2A8506;
  }

  .central_asian_northern_indian_pakistani {
    --region-color: #5DC563;
  }

  .central_asian {
    --region-color: #088757;
  }

  .northern_indian_pakistani {
    --region-color: #8AED9D;
  }

  .bengali_northeast_indian {
    --region-color: #92C746;
  }

  .gujarati_patidar {
    --region-color: #09D062;
  }

  .broadly_central_asian_northern_indian_pakistani {
    --region-color: #5DC563;
  }

  .southern_indian_subgroup {
    --region-color: #8AD468;
  }

  .southern_south_asian {
    --region-color: #275911;
  }

  .southern_indian_sri_lankan {
    --region-color: #327216;
  }

  .malayali_subgroup {
    --region-color: #194406;
  }

  .broadly_southern_south_asian {
    --region-color: #275911;
  }

  .broadly_central_south_asian {
    --region-color: #3BA510;
  }

  .melanesian {
    --region-color: #E58900;
  }

  .broadly_melanesian {
    --region-color: #E58900;
  }

  .unassigned {
    --region-color: #C0C1C2;
  }
}