@import "../../constants.less";

.top-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media @desktop {
        flex-direction: row;
        justify-content: space-around;
    }

    .logo-container {
        width: 100%;
        padding-block: 1.5rem;
        border-bottom: var(--divider);

        h1 {
            line-height: 2rem;
            font-size: 2rem;
            width: fit-content;
            margin: 0 auto;
            background-image: url(../../../assets/images/logo.svg);
            background-size: auto 3.5rem;
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 8rem;
        }
    }

    .action-panel {
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        .file-uploaded {
            height: 1.875rem;
            line-height: 1.75rem;
            padding-inline: 1rem;
            border: var(--divider-hl);
            border-radius: 4px;
            background: var(--hl-color);
            text-align: center;

            span {
                margin-left: 0.5rem;
            }

            a {
                color: var(--text-1);
                font-weight: bold;
                margin-inline: 0.5rem;

                &:hover,
                &:focus {
                    margin-inline: 0.25rem;
                    padding: 0.25rem;
                    background: var(--divider-hl-color);
                    color: var(--hl-color);
                    border-radius: 4px;
                }
            }
        }

        .controls {
            display: flex;
            flex-basis: 30%;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            .version {
                width: 130px;
            }

            .confidence {
                width: 167px;
            }

            select {
                appearance: base-select;
                padding: 0.5rem 0.5rem 0.5rem 1rem;
                width: 100%;
                font-size: 1rem;
                background-color: #fff;
                color: #000;
                border: var(--divider);

                &::picker-icon {
                    font-size: 1rem;
                }
            }

            ::picker(select) {
                appearance: base-select;
                padding: 0.5rem;
                font-size: 1rem;
                background-color: #fff;
                color: #000;
                border: var(--divider);
            }
        }
    }
}