@import "../../styles/constants.less";

.proportions {
  padding: 1rem;

  @media @desktop {
    flex-basis: 30%;
    border-right: var(--divider);
  }

  table {
    border-collapse: collapse;
    line-height: 1.125rem;
    margin-inline: auto;

    thead {
      line-height: 1.125rem;
      font-size: 1.125rem;
      border-bottom: var(--divider);

      th {
        padding: 0.25rem 0;

        &:last-of-type {
          width: fit-content;
        }
      }
    }

    td {
      padding: 0px;
    }
  }
}