table tr td {
  &.chromosome-label {
    font-weight: bold;
    width: 3rem;
    text-align: center;
  }

  &.chromosome-segments {
    &.hap1 {
      padding-bottom: 0.25rem;
    }

    &.hap2 {
      padding-top: 0.25rem;
    }
  }
}