#skip-link {
    position: absolute;
    left: -9999px;
    top: 0;
    z-index: 999;
    padding: 0.5rem;
    background-color: var(--info-color);
    color: var(--text-1);
    opacity: 0;

    &:focus {
        left: 0;
        opacity: 1;
    }
}