@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./constants.less";

* {
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --text-1: #1b1b1b;
  --text-2: #d9d9d9;
  --divider-color: #000;
  --hl-color: #cbf4d9;
  --divider-hl-color: #34a559;
  --error-color: #fec8c8;
  --divider-error-color: #ce0000;
  --info-color: #b4bff0;
  --divider-info-color: #4666f1;

  --divider: 1px solid var(--divider-color);
  --divider-dashed: 1px dashed var(--divider-color);
  --divider-hl: 1px solid var(--divider-hl-color);
  --divider-error: 1px solid var(--divider-error-color);
  --divider-info: 1px solid var(--divider-info-color);

  --sans: 'Lato', system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/16px var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-1);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media @dark-mode {
  :root {
  }
} */

#root {
  max-width: 100%;
  min-height: 100svh;
  overflow-y: hidden;
}

body {
  margin: 0;
}