@import "../../styles/constants.less";

.chromosome-viewer {
  padding: 1rem;
  position: relative;

  @media @desktop {
    flex: 1 1 auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td {
        padding: 0.5rem 0;
      }

      &:first-of-type td {
        padding-top: 0;
      }

      &:last-of-type td {
        padding-bottom: 0;
      }
    }
  }
}